# Environment variables
.env
.env.local

# Django
*.log
db.sqlite3
__pycache__/
*.pyc
.DS_Store
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
